@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ammunition Store</h1>
    <hr/>
    
        Vandal <br/> <img src="/Images/Vandal.jpg" width="250" height="70"/><br/> <br/> 
        Phantom <br/> <img src="/Images/Phantom.jpg" width="250" height="70"/><br/> <br/> 
        Judge <br/><img src="/Images/Judge.jpg" width="250" height="70"/><br/> <br/> 
        Tour de Force Operator <br/> <img src="/Images/Op.jpg" width="250" height="70"/><br/> 
    
</div>
